[Unit]
Description=QuantumDev - Flush Cache Redis
After=network.target redis.service

[Service]
Type=oneshot
WorkingDirectory=/root/quantumdev-open/scripts
ExecStart=/root/quantumdev-open/venv/bin/python3 flush_cache.py

[Install]
WantedBy=multi-user.target
