[Unit]
Description=Esecuzione ogni 30 minuti di orchestrator_auto.py

[Timer]
OnBootSec=2min
OnUnitActiveSec=30min
Unit=orchestrator-auto.service

[Install]
WantedBy=timers.target
